.header {
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    justify-content: center;
}

form {
    width: 300px;
}

.field-container {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}